[Desktop Entry]
Name=TRIfA Material
GenericName=Tox client
StartupWMClass=TrifaMainKt
Comment=TRIfA Material Tox Client
Exec=trifa_material/bin/trifa_material
Icon=trifa_material
Terminal=false
Type=Application
Categories=InstantMessaging;Network;
MimeType=x-scheme-handler/tox;
X-GNOME-UsesNotifications=true
