name: "BOM implementation"

on:
  push:
    paths-ignore:
     - 'README.md'
     - 'CHANGELOG.md'
  pull_request:
    paths-ignore:
     - 'README.md'
     - 'CHANGELOG.md'
  workflow_dispatch:
    inputs:
      version:
        description: dummy
        default: dummy

jobs:
  validation:
    name: "BOM implementation"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5

      - name: pwd
        run:  pwd; id -a

      - name: generate BOM
        run: |
             ./gradlew -q dependencies --configuration implementation

      - name: save BOM to file
        run: |
             ./gradlew -q dependencies --configuration implementation > bom_implementation.txt


      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: bom_implementation
          path: |
            bom_implementation.txt

      - name: Upload to nightly release
        uses: ncipollo/release-action@v1
        if: github.ref == 'refs/heads/master'
        with:
          allowUpdates: true
          tag: nightly
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true
          prerelease: true
          replacesArtifacts: true
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: "bom_implementation.txt"

